@import "home";
@import "login";
@import "profile";
@import "NotFound";

.main {
  transition: color, background-color 0.5s;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.dark-mode-button {
  position: fixed;
}
.link {
  color: unset;
  text-transform: capitalize;
  font-weight: bold;
}
